@charset "UTF-8";

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}  

h1 {
    color: rgb(179, 179, 72);
}

h2 {
    color: rgb(179, 179, 72);
}

p {
    color: white;
    text-align: justify;
}

a {
    color: white;
}